<form method="post" action="post" >
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="action_id">Title</label>
    <div class="col-md-5">
        <input id="action_id" name="action_id" type="text" name="title" class="form-control input-md">

    </div>

        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>